<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ol>
<% @restaurant.reviews.each do |review| %>
  <li><p><%= review %></p></li>
<% end %>
</ol>

<%= link_to "Bck to all restaurants", retaurants_path %>